name: Trigger auto deployment for squadpot-backend

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/squadpot-backend-AutoDeployTrigger-efedcc0b-4c0d-4d21-a8f0-a4244c4c5161.yml'

  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.SQUADPOTBACKEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.SQUADPOTBACKEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SQUADPOTBACKEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/backend
          registryUrl: squadpotacr.azurecr.io
          registryUsername: ${{ secrets.SQUADPOTBACKEND_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.SQUADPOTBACKEND_REGISTRY_PASSWORD }}
          containerAppName: squadpot-backend
          resourceGroup: SquadPot-Main
          imageToBuild: squadpotacr.azurecr.io/game-squad-backend:${{ github.sha }}
